extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}



//- old portfolio
    //- if (nums.length)
    //-  each post, i in nums
    //-   .grid.about-grid.portfolio-page-grid
    //-     .grid-item.medium--one-half.large--one-third.align-center.no-padding.hover-grid
    //-       a(href='')
    //-         img.port-img(src='#{post.imgurl}')
    //-         //- p.hover-text=post.title 
    //-         //-   br
    //-         //-   br
    //-         //-   span.order-place Place an Order
    //-           //- phover-text hover-place">Place an Order</p>
    //-     .grid-item.medium--one-half.large--one-third.align-center.no-padding
    //-       a(href='')
    //-         img.port-img(src='#{post.imgurl}')
    //-     .grid-item.madium--one-half.large--one-third.align-center.no-padding
    //-       a(href='')
    //-         img.port-img(src='#{post.imgurl}')

      //- .grid.about-grid.portfolio-page-grid
      //-   .grid-item.medium--one-half.large--one-third.align-center.no-padding
      //-     a(href='')
      //-       img.port-img(src='images/portfolio2-1.jpg')
      //-       span.text-content
      //-         span Place Name
      //-   .grid-item.medium--one-half.large--one-third.align-center.no-padding
      //-     a(href='')
      //-       img.port-img(src='images/portfolio2-2.jpg')
      //-       span.text-content
      //-         span Place Name
      //-   .grid-item.medium--one-half.large--one-third.align-center.no-padding
      //-     a(href='')
      //-       img.port-img(src='images/portfolio2-3.jpg')
      //-       span.text-content
      //-         span Place Name
      //- .grid.about-grid.portfolio-page-grid
      //-   .grid-item.medium--one-half.large--one-third.align-center.no-padding
      //-     a(href='')
      //-       img.port-img(src='images/portfolio3-1.jpg')
      //-       span.text-content
      //-         span Place Name
      //-   .grid-item.medium--one-half.large--one-third.align-center.no-padding
      //-     a(href='')
      //-       img.port-img(src='images/portfolio3-2.jpg')
      //-       span.text-content
      //-         span Place Name
      //-   .grid-item.medium--one-half.large--one-third.align-center.no-padding
      //-     a(href='')
      //-       img.port-img(src='images/portfolio3-3.jpg')
      //-       span.text-content
      //-         span Place Name